 <h2 class="page-header">Profile</h2>
<p>Welcome to My CoE#12</p>  

<div class="form-group">
	<img src="\img\team.jpg" height="400">

	<h1>1: Mr.Waranyu Muenkid</h1>
		<p>Age: 23 favorite Subject : English </p> <br>

	<h1>2: Mr.Peeranut Soonho</h1>
		<p>Age: 20 favorite Subject : Math </p> <br>

	<h1>3: Mr.Sakdipong Jaema</h1>
		<p>Age: 23 favorite Subject : Art </p> <br>

	<h1>3: Mr.Mongkonrat Noosuwan</h1>
		<p>Age: 23 favorite Subject : Sport </p> <br>

</div>